@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* 뷰포트 높이 기준으로 최소 높이 설정 */
  box-sizing: border-box; /* 패딩과 보더가 너비/높이에 포함되도록 */
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* 전체 페이지에서 가로 스크롤 방지 */
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}